NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://ts1442680_db_user:rsxy6TCPxi5Hf8RL@emergencyresponse.ykhsdov.mongodb.net/?appName=emergencyResponse
JWT_SECRET=any-long-random-string-you-make-up
JWT_EXPIRES_IN=7d
AI_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000


//rsxy6TCPxi5Hf8RL
# mongodb+srv://ts1442680_db_user:rsxy6TCPxi5Hf8RL@emergencyresponse.ykhsdov.mongodb.net/?appName=emergencyResponse